<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prm_project_dusigrosz">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_graph"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SimulationActivity" />
        <activity android:name=".activities.CardViewActivity" />
        <activity android:name=".activities.DetailsActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".database.MyContentProvider"
            android:exported="true"
            android:readPermission="true"
            android:writePermission="true"
            android:authorities="com.example.prm_project_dusigrosz" />
    </application>

</manifest>